body {
    padding-top: 0%;
    margin: 0%;
    background-color: white(0, 0, 0);
    padding-left: 2%;
}
.footerdiv {
    background-color: white(0, 0, 0);
}
.heading {
    color: #030027;
    font-size: 60px;
    font-family: georgia, serif;
    text-align: center;
}

.subheading {
    color: #030027;
    font-size: 40px;
    font-family: georgia, serif;
}

.maintext {
    color: #151E3F;
    font-family: garamond, serif;
    font-size: 20px;
    
}

#intro {
    padding-right: 55%;
    /* padding-left: 5%; */
    padding-bottom: 100px;
    
}

#bpimg {
    float: left;
    /* padding-left: 5%; */
    margin-right: 5%;
}

#bikepack {
    padding-bottom: 0px;
    padding-right: 5%;
    padding-left: 55%;    
}

.listall {
    padding-left: 55%;
}

#list {
    color: #151E3F;
    list-style-type: none;
    font-size: 18px;
    font-family: garamond, serif;
}
#extra2 {
    
    font-weight: bold;
    font-size: 20px;
}
#advCountdown {
    font-size: 30px;
    font-weight: bolder;
    color: #990D35;
}
#footer1 {
    display: inline;
    float: inline-start;
    margin-left: 1%;
    background-color: white(0, 0, 0);
}
#footer2 {
    display: inline;
    float: inline-end;
    margin-right: 1%;
    background-color: white(0, 0, 0);
}
